html {
    font-size: 16px;
}

body {
    font-family:'Roboto', sans-serif;
}

/***** GRID *****/

.full-width {
    width: 100%;
    margin: 0 auto;
}

.half-width {
    width: 50%;
    float: left;
}

.third-width {
    width: 33.33%;
    float: left;
}

/***** HEADER *****/
.header {
    height: 550px;
    background: url('../img/header-image.jpeg');
    background-size: cover;
}

h1 {
    font-size: 3.75em;
    font-family: 'Roboto Slab', bold, serif;
    font-weight: 700;
    text-align: right;
    color: #1E1E24;
    padding: 100px 40px 0px 0px;
    margin-top: 0px;
}

 h2 {
    font-size: 1.85em;
    font-weight: 400;
    text-align: right;
    color: #322214;
    padding-left: 0;
    padding-right: 40px;

}

/***** SKILLS *****/
.skills {
    background-color: #f6f8fa;
    text-align: center;
    overflow: inherit;
}

.skills img {
    margin-top: 40px;
    text-align: center;
}

.skills h3 {
    font-size: 1.25em;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
    color: #322214;
}


.skills p {
    font-size: 2em;
    font-weight: 400;
    color: #322214;
    margin: 0px 50px;
    padding: 20px;
}

.skills .skill-item-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}


.skills .fontawesome-icon {
    font-size: 3em;
}

.skills .features-item-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 10%;
}

/***** Portfolio *****/
.portfolio {
    height: 550px;
    text-align: center;
}

.portfolio h3 {
    font-size: 2.25em;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
    color: #322214;
}

.portfolio h4 {
    font-size: 1.5em;
    font-weight: 700;
    color: #322214;
    margin: 20px 50px 0px 50px;
}

.portfolio p {
    font-size: 1.5em;
    font-weight: 400;
    color: #322214;
}

.portfolio img {
    width: 85%;
    text-align: center;
}

    
/***** ABOUT *****/
.about {
    height: 550px;
    background-color: #F6F8FA;
    margin: 0px;
}

.about h5 {
    font-size: 2.25em;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
    color: #322214;
    padding-top: 40px;
}

.about img {
    width: 85%;
    margin: 0px 50px;
}

.about p {
    font-size: 1.5em;;
    font-weight: 400;
    color: #322214;
    margin: 0px;
}

.about .half-width {
    float: left;
}
    
/***** CONTACT *****/
.contact {
    height: 300px;
    background-color: #1E1E24;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.contact h5 {
    font-size: 2.25em;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 25px;
    padding-top: 40px;
}

.contact p {
    font-size: 1.5em;
    font-weight: 400;
    color: #ffffff;
    line-height: 10px;
}

.contact .third-width {
    text-align: center;
}

.contact ul {
    padding-left: 0px;
    margin: 0px;
}

.contact ul li {
    display: inline-block;
    padding-left: 10px;
    text-align: center;
    font-size: 2em;
}

.contact a {
    color: #ffffff;
    text-decoration: none;
}

.contact h6 {
    font-size: 1.5em;
    font-style: italic;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
}

    
    
/***** FOOTER *****/
.copy-right p {
    font-size: 0.875em;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 12px;
    margin-top: 0px;
    margin-bottom: 0 px;
}

/* ==========================================================================
    Tablet Styles
   ========================================================================== */
   @media only screen and (min-width: 768px) {
   
    }

/* ==========================================================================
    Desktop Styles
   ========================================================================== */
   @media only screen and (min-width: 1200px) {

   }

